@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    margin: 5px;
    font-size: 48px;
    font-weight: 400;
    color: white;
    }

#background {
    margin: 71px;
    padding: 71px;
    background-color: black;
    font-family: 'Roboto';
    width: 1440px;
    height: 1024px;
    }

#top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

#main {
    margin-left: 20px;
    flex: 1 0 0;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

#update {
    background-color: rgba(196, 196, 196, 0.4);
    border-radius: 35px;
    font-size: 42px;
    font-weight: 700;
    color: rgba(57, 113, 255, 1);
    border-width: 0px;
    width: 237px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#img_isg {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    }